body{
    text-align: center;
    justify-content: center;
    font-family:sans-serif, Arial, Helvetica,  ;
}

h1{
    font-size: 32px;
    margin-top: 20px;
    margin-bottom: 10px;
}

h2{
    font-size: 26px;
    margin-top: 60px;
    margin-bottom: 10px;
}

p{
    font-size: 16px;
    margin-top: 6px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
}


button{
    font-size: 17px;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
}

input{
    font-size: 13px;
    padding: 10px;
}

p id="result"{
    font-size: 16px;
    margin-top: 30px;
}